/* Analog clock */
.ui-analog-clock {
    width: 200px;
}

.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}

td.centeredColumnContent{
    text-align: center;
}